.navbar {
    background-color: rgba(0, 0, 0, 0.45);
    padding: 20px;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar ul li {
    margin-left: 20px;
    list-style: none;
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 1s;
}

.navbar ul li:hover::after {
    width: 100%;
}


custom-footer {
    text-align: center;
}

h6 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 10px;
}

custom-footer a {
    color: blue;
    text-decoration: none;
}

@media (max-width: 400px) {
    .navbar ul {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
}