@font-face {
    font-family: "Noto-Sans";
    src: url(../assets/fonts/NotoSans-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Noto-Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    background-color: #303030;
    color: white;
}

.presentation{
    background-color: rgba(0 , 0, 0, 0.5);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

h2{
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
}

.stats{
    padding: 0px 300px;
    display: flex;
    justify-content: space-around;
}

.stats img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

#stats{
    background-color: rgba(0 , 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

h3{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 30px;
}

@media (max-width: 1100px) {
    .stats{
        padding: 0px 100px;
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 600px) {
    .stats{
        padding: 0px 50px;
        display: flex;
        justify-content: space-around;
    }

    h2{
        text-align: center;
        font-size: 20px;
        margin-top: 0px;
    }

    h3{
        margin: 0px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .stats{
        padding: 0px 20px;
        display: flex;
        justify-content: space-around;
    }

    .stats img{
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    h3{
        margin: 0px;
        margin-bottom: 20px;
        font-size: 15px;
        text-align: center;
    }
}