@font-face {
    font-family: "Noto-Sans";
    src: url(../assets/fonts/NotoSans-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Noto-Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    background-color: #303030;
    color: white;
}